body{
    background-color: black;
    color: white;
}

ul{
    margin-bottom: 45px;
}
ul li
{
    list-style: none;
    float: left;
    color: white;
    width:30px;
}

ul li1{
    font-size: 40px;
    font-weight: bold;
    margin-left: 280px;
    font-family: Helvetica, sans-serif;


}
ul li2{
    float: right;
    font-family: "metropolis-medium", sans-serif;
    font-size: 15px;
    margin-right: 20px;
   
}
.search{
    cursor:pointer ;
}
.nav ul li{
    list-style: none;
    width:120px;
    display: inline;
    margin-left: 75px;
    font-family: "metropolis-medium", sans-serif;
    margin-bottom: 50px;
}

.nav ul li:hover{
    color: beige;
}


.music img{
    background-size: cover;
    margin-right: 150px;
    opacity: 0.4;
    width: 60%;

}
.music img:hover{
    opacity:0.1;
    color: #900;

}
.main-left{
    position: relative;

}
.main h1{
    position: absolute;
    left: 45px;
    top: 583px;
    width: 50%;
    font-size: 37px;
    font-weight:bold;
}
.main a{
    position: absolute;
    left: 48px;
    top: 581px;
    background-color: #01aef0;
    border: none;
    padding:3px 8px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
}
.main-left {
    float: left;
}
.music-side{
    float: right;
    position: absolute;
    top:177px;
    right :-257px;
    height: 282px;
    width: 60%;
}
.music-side h1{
    position: absolute;
    left:53px;
    top:181px;
    width:50%;
}

.music-side a{
    position: absolute;
    left: 56px;
    top: 175px;
    background-color: green;
    border: none;
    padding:3px 8px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
}

.music-beetle{
    float: right;
    position: absolute;
    top:500px;
    right :-257px;
    height: 282px;
    width: 60%;
}
.music-beetle h1{
    position: absolute;
    left:53px;
    top:181px;
    width: 50%;
}

.music-beetle a{
    position: absolute;
    left: 56px;
    top: 175px;
    background-color: green;
    border: none;
    padding:3px 8px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;

}







